<div class="center">
	<h3 class="text-center">SignIn</h3><br>
	<div class="create-user">
		<%= form_for(:user , url: sessions_path) do |f| %>
			<div class="field form-group row">
				<%= f.label :email , class: "form-group-element imp"  %>
				<div class="col-sm-8">
					<%= f.text_field :email , class: "form-control"%>
				</div>
			</div>
			<div class="field form-group row">
					<%= f.label :password , class: "form-group-element imp" %>
					<div class="col-sm-8">
						<%= f.password_field :password , class: "form-control" %>
			</div>
			</div>
			<div class="notice"><%= notice %></div><br><br>
			<div class="actions form-group row">
				<div class="col-sm-5 col-sm-offset-5">
					<%= f.submit "SignIn" ,class: "btn btn-success" %>
				</div>
			</div>
		<% end %>
	</div><br><br><br>
	
	<h4>[Try email: "admin@admin.com" password: "admin"]</h4>
</div>