<div class="center">
  <h5><%= notice %></h5><br>
  <h3 class="text-center add-element">Add new Subcategory for <%= @catname %> </h3><br>
  <%= form_for(@newSubCat) do |f| %>
  	<div class= "field" >
      <%= f.hidden_field :category ,value: @catName[:id] %>
  		<label>Name:</label><br>
  		<%= f.text_field :name %><br><br>
  		<%= f.submit :Create , class: "btn btn-success"  %><br><br><br>
  	</div>
  <% end %><br><br>
  <table class="card">
    <thead>
      <tr>
        <th>Subcategory Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    	<% @subCatAll.each do |subcat| %>
        <tr>
          <td scope="row"><%= subcat[:name] %></td>
          <td> <%= link_to icon('fa-solid', 'pen') , edit_subcategory_path(subcat.id) %> /<%= link_to icon('fa-solid', 'trash') , subcategory_path(subcat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>