<div class= "center">
  <%= notice %><br><br>
  <h1>Admin Dashboard</h1><br><br>
  
  <ul class="grid-container">
  	<li  class="grid-item">
      <h2><%= link_to "Change Password" , edit_admin_path(current_user.id) , method: "get" %></h2>
    </li>

  	<li class="grid-item">
      <h2><%= link_to "Show All Users" , users_path , class: "nav-link"  %></h2>
    </li>

    <li class="grid-item">
      <h2><%= link_to "Show All Categories" , categories_path , class: "nav-link"  %></h2><br>
      <h3><%= link_to "Add New Category" , new_category_path , class: "nav-link" %></h3>
    </li>

    <li role="presentation" class="grid-item">
      <h2><%= link_to "Show All Subcategories" , subcategories_path , class: "nav-link"  %></h2><br>
      <h3 class="dropdown-togglecategory">Add New Subcategory <span class="caret"></span></h3>
      <%= form_for(:category, url: new_subcategory_path, method: "get", id: "buga") do |f| %>
  			<label>Categories:</label><br>
  			<%= f.select(:id,options_from_collection_for_select( Category.all , :id , :name) , { prompt: "Select Category", class: "auto-update"}) %><br><br>
  			<%= f.submit "Go" , class: "btn btn-success" %>
  		<% end %>
    </li>

    <li role="presentation" class="grid-item">
      <h2><%= link_to "Show All brands" , brands_path , class: "nav-link"  %></h2><br>
      <h3 class="dropdown-toggle">Add New Brand</h2>
      <%= form_tag new_brand_path , method: "get" do %>
  			<label>Categories:</label><br>
  			<%= select_tag(:category , options_from_collection_for_select( Category.all , :id , :name) , { prompt: "Select Category" , class: "auto-update", data: {controller: "category"} } ) %><br>
  			<div class="auto-update" id="category_subcategories_list_brand"></div><br>
  			<%= submit_tag("GO", class: "btn btn-success") %>
  		<% end %>
    </li>
    
    <li class="grid-item">
      <h2><%= link_to "Show All Items" , items_path , class: "nav-link"  %></h2><br>
      <h3 class="dropdown-toggle">Add New Item</h2>
      <%= form_tag new_item_path , method: "get" do %>
    		<label>Categories:</label><br>
    		<%= select_tag( :category , options_from_collection_for_select( Category.all , :id , :name) , { prompt: "Select Category", class: "auto-update index", data: {controller: "subcategories"}} ) %></p>
    		<p><div class="auto-update index" id="category_subcategories_list"></div></p>
    		<p><div class="auto-update index" id="subcategory_brands_list"></div></p><br>
    		<%= submit_tag("GO", class: "btn btn-success") %>
		  <% end %>
    </li>
  </ul>
</div>