<div class="center">
  <h4 class="notice">Note: If you are not the admin and able to view this then please inform support - thanks</h4>
  <h5 class="text-center">Add new User<br></h5><br>
  <div class="add-user"><%= link_to icon('fa-solid', 'square-plus') , new_user_path %> </div>
  <table class="card">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Account Type</th>
        <th>Delete</th>
      </tr>
    </thead><br>
    <tbody>
    <% @allUsers.each do |use| %>
      <% unless use.account_type == "admin" %>
      <tr>
      <th scope="row"><%= use[:id] %></th>
        <td><%= use[:name] %></td>
        <td><%= use[:email] %></td>
        <td><%= use[:address] %></td>
        <td><%= use[:phone] %> </td>
        <td><%= use[:account_type] %></td>
        <td><%= link_to icon('fa-solid', 'trash') , user_path(use), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>