<h4><%= notice %> </h4>
<h4><%= alert %> </h4>
<h3 class="text-center"><%= is_admin? ? "Register a new user" : "Sign up" %></h3>

<div class="create-user">
	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited you from creating a account</h2>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li> <%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label :name, class: "form-group-element" %>
			<div class="col-sm-8">
				<%= f.text_field :name, class: "form-group-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :email , class: "form-group-element"  %>
			<div class="col-sm-8">
				<%= f.text_field :email , class: "form-group-control"%>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :phone , class: "form-group-element" %>
			<div class="col-sm-8">
				<%= f.text_field :phone , class: "form-group-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :address , class: "form-group-element" %>
			<div class="col-sm-8" >
				<%= f.text_area :address , class: "form-group-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :password , class: "form-group-element" %>
			<div class="col-sm-8">
				<%= f.password_field :password , class: "form-group-control" %>
			</div>
		</div>
		<div class="actions form-group row">
			<div class="col-sm-5 col-sm-offset-5">
				<%= f.submit is_admin? ? "Create User" : "Sign Up" ,class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
</div>