
<div class="center your-profile-card">
  <h1>My Account</h1><br><br>
  <ul class="list-group">
    <li>Name : <%= @user.name %></li>
    <li>Address : <%= @user.address %></li>
    <li>Email : <%= @user.email %></li>
    <li>Phone : <%= @user.phone %></li>
  </ul><br><br>
  <%= link_to icon('fa-solid', 'pen-to-square') , edit_user_path(@user.id) , class: "edit-button" %>
</div>