<%= notice %>
<h2>All Orders</h2><br>

<% @orders.each do |order| %>
  <% if @user.email == order.email %>
  <p>Name: <%= order.name %></p>
  <p>Shipping Address: <%= order.address %></p>
  <p>Line Items: </p>
  <ul>
    <% order.ordered_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.item.title %></li>
    <% end %>
  </ul>
  <li>
  <%= link_to "Show", order_path(order.id)%>
  <%= link_to "Destroy", order_path(order.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <br><br><br><% end %>
<% end %>