<%= notice %>
<h2 class="text-center">All Orders</h2><br>

<% @orders.each do |order| %>
  <% if @user.email == order.email %>
    <%= link_to order_path(order.id) do%>
      <div class="order-container-outer">
        <% order.ordered_items.each do |item| %>
          <div class="order-container-inner">
            <%= image_tag item.item.avatar, class: "order-image"%>
            <span class="order-item"> <%= item.item.title%></span>
            <span class="order-item"> <%= item.item.price%></span>
            <span class="order-item"> <%= item.quantity %></span>
            Order Confirmed
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>