# app/views/orders/show.html.erb
<h1>Order Details</h1>
<p><strong>Name:</strong> <%= @order.name %></p>
<p><strong>Email:</strong> <%= @order.email %></p>
<p><strong>Address:</strong> <%= @order.address %></p>
<h2>Ordered Items</h2>
<% @order.ordered_items.each do |ordered_item| %>
  <%= ordered_item.item.title %> x <%= ordered_item.quantity %>
  <%= image_tag ordered_item.item.avatar,class: "list-image" %>
<% end %>
