<div class="update-body">
	<% @all_items.each do |item| %>
		<section class="col-sm-4 col-md-3">
			<div class="normal" style="width: 20rem;">
	  		<div class="card-body list">
					<%= link_to (image_tag item.avatar, style: "width: auto; height:50px"), item %>
	    		<h4 class="card-title title"><%= item.title %></h4><br>
	    		<p class="card-text">The price is : <%= item.price %> </p><br>
	    		<%= link_to icon('fa-solid', 'eye') , item , class: "btn" %>
	    		<%= link_to icon('fa-solid', 'trash') , item_path(item) , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "btn btn-danger" if is_admin? %>
	    		<%= link_to icon('fa-solid', 'pen') , edit_item_path(item), method: "get" , class: "btn btn-primary" if is_admin? %>
	  		</div>
			</div>
		</section>
	<% end %>
</div>