<div class="update-body">
	<% @all_items.each do |item| %>
		<section class="col-sm-4 col-md-3">
			<div class="normal">
	  		<div class="card-body list">
					<%= link_to (
						if item.avatar.attached?
							image_tag item.avatar, class: "list-image"
				    else
				      image_tag 'default_avatar.png', class: "list-image"
				    end
					), item %>
	    		<h4 class="card-title title"><%= item.title %></h4><br>
	    		<p class="card-text">The price is : <%= item.price %> </p><br>
	    		<%= link_to icon('fa-solid', 'eye') , item , class: "btn" %>
	    		<%= delete_link(item_path(item)) if admin? %>
	    		<%= edit_link(edit_item_path(item)) if admin? %>
	  		</div>
			</div>
		</section>
	<% end %>
</div>