<div class="center">
	<%= notice %>
	<h3 class="text-center"> Edit Item </h3><br>
	<%= form_for(@my_item) do |f| %>

		<div class="form-group row">
			<%= f.label :title , class: "col-sm-1 col-sm-label" %>
			<div class="col-sm-6">
				<%= f.text_field :title , class: "form-control" %>
			</div>
		</div>

		<div class="form-group row">
			<%= f.label :price , class: "col-sm-1 col-sm-label" %>
			<div class="col-sm-6">
				<%= f.text_field :price , class: "form-control" %>
			</div>
		</div>

		<div class="form-group row" >
			<%= f.label :description , class: "col-sm-1 col-sm-label" %>
			<div class="col-sm-6">
				<%= f.text_area :description , class: "form-control" %>
			</div>
		</div><br><br>
		<%= f.submit class: "btn btn-success" %>
	<% end %>
</div>