<%= notice %>
<h3> Edit Item </h3>
<%= form_for(@my_item) do |f| %>

<div class="form-group row">
	<%= f.label :title , class: "col-sm-1 col-sm-label" %>
	<div class="col-sm-6">
		<%= f.text_field :title , class: "form-control" %>
	</div>
</div>
<div class="form-group row">
	<%= f.label :price , class: "col-sm-1 col-sm-label" %>
	<div class="col-sm-6">
		<%= f.text_field :price , class: "form-control" %>
	</div>
</div>
<div class="form-group row" >
	<%= f.label :description , class: "col-sm-1 col-sm-label" %>
	<div class="col-sm-6">
		<%= f.text_area :description , class: "form-control" %>
	</div>
</div>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
<br>
<div class=field>
	<%= f.label :category %>
	<%= select_tag(:category , options_from_collection_for_select( Category.all , :id , :name, @my_item.getcategory.nil? ? "" : @my_item.getcategory[:id] ) , { class: "auto-update"} ) %>
</div>
<div class=field>
		<%= f.label :subcategory %>
	<%= select_tag(:subcategory , options_from_collection_for_select(  @my_item.getsubcategory.nil? ? [] : @my_item.getcategory.subcategories.all , :id , :name, @my_item.getsubcategory.nil? ? "" : @my_item.getsubcategory[:id] ) , { class: "sub-update"} ) %>
</div>
<div class=field>
	<%= f.label :brand %>
	<%= select_tag(:brand , options_from_collection_for_select( @my_item.getbrand.nil? ? [] :  @my_item.getsubcategory.brands.all , :id , :name, @my_item.getbrand.nil? ? "" : @my_item.getbrand[:id] ) , { class: "brand"} ) %>
</div>
<br>
<%= f.submit class: "btn btn-success" %>
<% end %>