<%= notice %>
<%= form_tag items_path , { method: "post", id: "buga" , multipart: true }  do %>
		<br><h3 class="text-center">Add New Item </h3><br>
    <%= hidden_field_tag(:brand, value = @brand[:id]) %>
		<div class="field form-group row">
		<%= label_tag :title , nil ,class: "col-sm-2 col-form-label imp"  %>
		<div class="col-sm-6">
			<%= text_field_tag :title, @new_item.title, :required => true %>
			<p class='error'><%= show_errors(@new_item, :title) %></p>
		</div>
	</div> 
	<div class="field form-group row">
		<%= label_tag :price , nil , class: "col-sm-2 col-form-label imp" %>
		<div class="col-sm-6">
			<%= number_field_tag :price, @new_item.price, min: 1, :required => true%>
			<p class='error'><%= show_errors(@new_item, :price) %></p>
		</div> 
	</div> 
	<div class="field form-group row">
		<%= label_tag :description , nil , class: "col-sm-2 col-form-label" %>
		<div class="col-sm-6">
			<%= text_area_tag :description, @new_item.description %>
		</div>
	</div>
	<div class="field form-group row" >
		<%= label_tag :avatar %>
		<%= file_field_tag :avatar , class: "col-sm-6" %>
	</div>

	<div class="action form-group row">
		<div class="col-sm-6"><br>
			<%= submit_tag("Create Item", class: "btn btn-success") %>
		</div>
	</div>
<% end %>
