<div class="row">
	<h2>Welcome to Details Page </h2><br>
	<section>
		<h3 class="text-center">
			<%= @my_item.title %>
		</h3><br>
		<p class= "col-sm-offset-4 item-element">Price : <%= @my_item.price %></p> 
		<p class= "col-sm-offset-4 item-element">Description: <%= @my_item.description %></p><br><br>

		<%= form_with(url: cart_add_path) do |f| %>
			<%= f.hidden_field :id, value: @my_item.id %>
			<%= f.number_field :quantity, value: 0, min: 1 %><br>
			<%= button_tag type: 'submit', class: "edit-button" do %>
				<i class="fa-solid fa-cart-plus"></i>
			<% end %>
		<% end %>
	</section>
</div>