<section class="item-grid">
	<div class="item-element image">
		<%= image_tag @my_item.avatar, class: "pull-left col-sm-3"  %>
	</div>
	<div class="item-element body">
		<h3 class="item-title">
			<%= @my_item.title %>
		</h3><br><br>
		<h3 class= "col-sm-offset-4 item-element">Price : <%= @my_item.price %></h3> <br><br>
		<p class= "col-sm-offset-4 item-element description"><%= @my_item.description %></p><br><br>

		<%= form_with(url: cart_add_path) do |f| %>
			<%= f.hidden_field :id, value: @my_item.id %>
			<%= f.number_field :quantity, value: 0, min: 1 %><br>
			<%= button_tag type: 'submit', class: "edit-button" do %>
				<i class="fa-solid fa-cart-plus"></i>
			<% end %>
		<% end %>
	</div>
</section>