<%= notice %>
 <h4> <%= link_to "Subcategory", { action: "new" , subcategory: @brand.subcategory.id , category: @brand.subcategory.category.id  }, class: "btn btn-success" %> </h4>
  <%= form_for(@brand) do |t| %>
 <div class="field form-group row" >
	 <%= t.label :name , class: "col-sm-2 col-sm-label" %>
	<div class="col-sm-4">
	 	<%= t.text_field :name , class: "form-control" %>
	</div>
	<%= label_tag :Edit_Category_and_Subcategory , nil , class: "col-sm-2 col-sm-label" %>
	<div class="col-sm-2">
		<%= select_tag(:category , options_from_collection_for_select( Category.all , :id , :name, @cat.id) , { class: "auto-update"} ) %>
	</div>
	<div class="col-sm-2">
		<%= select_tag(:subcategory , options_from_collection_for_select(@subcat, :id , :name , @brand.subcategory.id ), { class: "sub-update"} ) %>
	</div>
</div>
 <%= t.submit "Update" , class: "btn btn-success" %>
 <% end %>