<div class="center">
	<%= notice %>
	<h1 class="text-center">Edit Brand</h1><br>
	<%= form_for(@brand) do |t| %>
		<div class="field form-group row" >
			<%= t.label :name , class: "col-sm-2 col-sm-label" %>
			<div class="col-sm-4">
			 	<%= t.text_field :name , class: "form-control" %>
			</div><br>
			<div class="col-sm-2">
				<%= select_tag(:category , options_from_collection_for_select( Category.all , :id , :name, @category.id) , { class: "auto-update"} ) %>
			</div><br>
			<div class="col-sm-2">
				<%= select_tag(:subcategory , options_from_collection_for_select(@subcategory, :id , :name , @brand.subcategory.id ), { class: "sub-update"} ) %>
			</div>
		</div><br>
		<%= t.submit "Update" , class: "btn btn-success" %>
	<% end %>
</div>