<div class="center">
  <h5><%= notice %></h5><br>
  <h3 class="text-center add-element">Add new brand for Subcategory : <%= @subCat.name  %> and Category : <%= @cat.name %> </h3><br>
  <%= form_for(@newBrand) do |f| %>
  	<div class= "field" >
      <%= f.hidden_field :category , value: @cat[:id] %>
      <%= f.hidden_field :subcategory , value: @subCat[:id] %>
  		<label>Name:</label><br>
  		<%= f.text_field :name %><br><br>
  		<%= f.submit :Create , class: "btn btn-success"  %><br><br><br>
  	</div>
  <% end %>
  <br><br>
  <table class="card">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    	<% @brands.each do |brand| %>
        <tr>
          <td scope="row"><%= brand[:name] %></td>
          <td><%= link_to "Edit" , edit_brand_path(brand.id) , method: "get" %> / <%= link_to "Destroy" , brand_path(brand) , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>