<div class="center">
  <h3 class="text-center add-element">Add new brand for Subcategory : <%= @subcategory.name  %> and Category : <%= @category.name %> </h3><br>
  <%= form_for(@new_brand) do |f| %>
  	<div class= "field" >
      <%= f.hidden_field :category , value: @category[:id] %>
      <%= f.hidden_field :subcategory , value: @subcategory[:id] %>
  		<label>Name:</label><br>
  		<%= f.text_field :name %>
      <div class="notice"><%= notice %></div><br>
  		<%= f.submit :Create , class: "btn btn-success"  %><br><br><br>
  	</div>
  <% end %>
  <br><br>
  <table class="card">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    	<% @brands.each do |brand| %>
        <tr>
          <td scope="row"><%= brand[:name] %></td>
          <td><%= edit_link(edit_brand_path(brand.id)) %> / <%= delete_link(brand_path(brand))%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>