<p style="color: green"><%= notice %></p>

<p>
  <b>Category name: </b>
  <%= @brand.subcategory.category.name %>
</p>

<p>
  <b>Subcategory name: </b>
  <%= @brand.subcategory.name %>
</p>

<p>
  <b>Brand name: </b>
  <%= @brand.name %>
</p>

<% @brand.items.each do |item|%>
  <br><%= item.title %>
<% end %>
