<div class="center"><br>
  <h3 class="text-center">Add new category</h3>
  <%= form_for(@new_category) do |f| %>
  	<div class= "field" ><br>
  		<label>Name:</label><br>
  		<%= f.text_field :name %>
      <div class="notice"><%= notice %></div><br>
  		<%= f.submit :Create , class: "btn btn-success" %>
  	</div>
  <% end %>
  <table class="card">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @all_category.each do |cat| %>
        <tr>
          <td scope="row"><%= cat[:name] %></td>
          <td> <%=link_to icon('fa-solid', 'pen') , edit_category_path(cat.id) %> / <%= delete_link(category_path(cat)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>