<header class="header navbar">
  <section class="container">
    <nav class="nav">
      <figure class="logo">
        <%= link_to icon('fa-solid', 'cart-shopping', 'Grocery App'), root_path%>
      </figure>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <label for="nav-toggle" class="nav-toggle-lable">
        <%= icon('fa-solid', 'bars')%>
      </label>
      <ul class="menu">
        <%= link_to 'Home', root_path, class: 'nav-link nav-item' %>
        <%= link_to 'About Us', about_us_path, class: 'nav-link nav-item' %>
        <% if logged_in?  %>
          <%= link_to 'MyAccount', current_user, class: 'nav-link nav-item' %>
          <%= link_to 'My Cart', cart_path, class: 'nav-link nav-item' %>
          <%= link_to 'My orders', orders_path, class: 'nav-link nav-item' %>
          <%= link_to 'Admin', admin_index_path, class: 'nav-link nav-item' if admin? %>
          <%= link_to 'Signout', signout_path, class: 'nav-link nav-item' %>
        <% else %>
          <%= link_to 'SignIn', signin_path, class: 'nav-link nav-item' %>
          <%= link_to 'SignUp', new_user_path, class: 'nav-link nav-item' %>
        <% end %>
       <%= link_to 'Back' , 'javascript:history.back()' %>
      </ul>
    </nav>
  </section>
</header>